{% extends '_layout.html.twig' %}

{% block body %}
<section class="page-content container-fluid col-10 col-lg-10">
    <h1 class="text-center">Mentions légales</h1>
    <h2>Table des matières</h2>
    I.	Edition du site internet	1
    I.	Hébergeur du site internet	1
    II.	La collecte des données personnelles	1
    III.	Cookies	3
    IV.	Respect de la propriété intellectuelle	3

    <h3>I. Edition du site internet</h3>

    Le site https://izy-contrat.fr (ci-après "le Site") est édité par la société Izy Contrat (ci-après "l'Editeur"), SAS au capital de 3000 euros, dont le siège social est situé 2, Rue Charles Plumier, 45100 Orléans .
    RCS  887 655 918 ORLEANS
    Numéro SIRET : 887 655 918 00019
    Numéro TVA Intracommunautaire : FR91887655918
    Directrice de la publication : Saliha Azougagh, Présidente
    Email : contact@izy-contrat.fr
    Téléphone : 07 67 72 73 13
    Courrier : 2 rue Charles Plumier, 45100 ORLEANS

    <h3>I. Hébergeur du site internet</h3>

    Le site http://izycontrat.com est hébergé par OVH, dont le siège social est situé 2 rue Kellermann - 59100 Roubaix - France (https://www.ovh.com/)

    <h3>II. La collecte des données personnelles</h3>

    Dans le cadre de la mise à disposition de notre Site, l’Editeur traite vos données à caractère personnel dans le respect du Règlement Général sur la Protection des Données(RGPD) 2016/679 du 27 avril 2016.
    Les informations personnelles qui sont recueilli sur le Site sont utilisées par l'Editeur pour la gestion et la mise en œuvre de nos services, le traitement de vos commandes et des relations avec vous. En ce qui concerne les Avocats, l’Editeur utilise des données à caractère personnel exclusivement pour la création des profils individuels publiés sur le Site et pour le service de Mise en relation. Elles sont enregistrées dans le fichier de clients de l'Editeur.
    L'Editeur procède à des traitements automatisés de vos données personnelles, notamment lors de votre connexion au Site ou lorsque vous remplissez des formulaires en ligne, conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés.
    Vous disposez d'un droit :
    • D’accès à vos données
    • ​D’opposition pour des motifs légitimes au traitement de vos données
    • ​De rectification de vos données en cas d'erreur
    • ​D'effacement de vos données
    • ​De portabilité de vos données
    • ​De définir des directives relatives au sort de vos données après votre décès
    Ces droits peuvent être exercés à tout moment auprès de l'Editeur soit sur le Site via la rubrique « Nous contacter », soit par courrier électronique à contact@izy-contrat.fr, soit par courrier postal à l'adresse suivante : 2 rue Charles Plumier, 45100 ORLEANS. Merci d’y préciser votre nom, prénom et adresse.
    En cas de violation de données à caractère personnel avérée à des dispositions légales ou réglementaires, IZY CONTRAT s'engage à vous le notifier dans un délai maximum de 72 heures après en avoir pris connaissance et par mail. Cette notification est accompagnée de toute documentation utile afin de vous permettre, si nécessaire, de notifier cette violation à l'autorité de contrôle compétente. De surcroit, ces informations pourront aussi faire l'objet d'une communication sur demande expresse et motivée des autorités judiciaires.
    Lorsque certaines informations sont obligatoires pour accéder à des fonctionnalités spécifiques du Site, l'Editeur indiquera ce caractère obligatoire au moment de la saisie des données.
    IZY CONTRAT s'engage à :

    a. Traiter les données uniquement pour les seules finalités qui font l'objet de ce contrat (principe dit de « minimisation »)
    b. Traiter les données conformément à vos instructions.
    c. Garantir la confidentialité des données à caractère personnel traitées dans le cadre du présent contrat 

    d. Veiller à ce que les personnes autorisées à traiter les données à caractère personnel en vertu du présent contrat s'engagent à en respecter la confidentialité
    Les informations recueillies pourront éventuellement être communiquées à des tiers liés à l'Editeur par contrat pour l'exécution de tâches sous-traitées nécessaires à la gestion de votre compte et sans que vous ayez à donner votre autorisation. Vous pouvez vous opposer à ce transfert en manifestant votre refus auprès de notre contact mentionné ci-dessus.
    Dans le cadre de la gestion de votre compte, l’Editeur peut éventuellement communiquer certaines de vos informations personnelles à des prestataires extérieurs liés par contrat à l’Editeur, sans pour autant recueillir votre autorisation.

    <h3>III. Cookies</h3>

    Le Site internet peut être amené à utiliser des cookies à des fins d’amélioration de nos services. L’Utilisateur peut s’opposer à l’enregistrement de cookies, ou être prévenu avant d’accepter les cookies, en configurant son navigateur internet.
    Vous disposez de la possibilité de bloquer, modifier la durée de conservation, ou supprimer ce cookie via l'interface de votre navigateur. Si la désactivation systématique des cookies sur votre navigateur vous empêche d'utiliser certains services ou fonctionnalités du Site, ce dysfonctionnement ne saurait en aucun cas constituer un dommage, vous ne pourrez prétendre à aucune indemnité de ce fait.

    <h3>IV. Respect de la propriété intellectuelle</h3>

    L’Editeur reste pleinement et entièrement propriétaire de tous les droits de propriété intellectuelle du présent site ainsi que l’ensemble de son contenu notamment les marques, photographies, textes, illustrations, images, vidéo, sons, études, prototypes, etc., sauf mentions particulières. L’utilisateur s'interdit donc toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l’autorisation expresse de l'Editeur qui peut la conditionner à une contrepartie financière. Toute utilisation autre que privée est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
    De même, tout enregistrement, radiodiffusion, traduction et adaptation, totale ou partielle du site, est interdit.
</section>
{% endblock %}
