{% extends '_layout.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10">
        <h1 class="text-center">Mentions légales</h1>
        <div class="text-justify my-5">
            <h2>I. Édition du site internet</h2>

            <p>Le site https://izy-contrat.fr (ci-après "le Site") est édité par la société Izy Contrat (ci-après
                "l'Éditeur"),
                SAS au capital de 3000 euros, dont le siège social est situé 2, Rue Charles Plumier, 45100 Orléans .</p>
            <p>RCS 887 655 918 ORLEANS</p>
            <p>Numéro SIRET : 887 655 918 00019</p>
            <p>Numéro TVA Intracommunautaire : FR91887655918</p>
            <p>Directrice de la publication : Saliha Azougagh, Présidente</p>
            <p>Email: contact@izy-contrat.fr</p>
            <p>Téléphone: 07 83 95 48 39</p>
            <p>Courrier: 2 rue Charles Plumier, 45100 ORLEANS</p>

            <h2>II. Hébergeur du site internet</h2>

            <p>Le site https://izy-contrat.fr est hébergé par OVH, dont le siège social est situé 2 rue Kellermann -
                59100
                Roubaix - France (https://www.ovh.com/)</p>

            <h2>III. La collecte des données personnelles</h2>

            <p>Dans le cadre de la mise à disposition de notre Site, l’Éditeur traite vos données à caractère personnel
                dans
                le respect du Règlement Général sur la Protection des Données(RGPD) 2016/679 du 27 avril 2016.</p>
            <p>Les informations personnelles qui sont recueillies sur le Site sont utilisées par l'Éditeur pour la
                gestion et
                la mise en œuvre de nos services, le traitement de vos commandes et des relations avec vous. En ce qui
                concerne les Avocats, l’Éditeur utilise des données à caractère personnel exclusivement pour la création
                des
                profils individuels publiés sur le Site et pour le service de Mise en relation. Elles sont enregistrées
                dans
                le fichier de clients de l'Éditeur.</p>
            <p>L'Éditeur procède à des traitements automatisés de vos données personnelles, notamment lors de votre
                connexion au Site ou lorsque vous remplissez des formulaires en ligne, conformément aux dispositions de
                la loi n°
                78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés.</p>
            <p>Vous disposez d'un droit :
            <ul>
                <li class="ml-5">D’accès à vos données</li>
                <li class="ml-5">D’opposition pour des motifs légitimes au traitement de vos données</li>
                <li class="ml-5">De rectification de vos données en cas d'erreur</li>
                <li class="ml-5">D'effacement de vos données</li>
                <li class="ml-5">De portabilité de vos données</li>
                <li class="ml-5">De définir des directives relatives au sort de vos données après votre décès.</li>
            </ul>
            <p>Ces droits peuvent être exercés à tout moment auprès de l'Éditeur soit sur le Site via la rubrique « Nous
                contacter », soit par courrier électronique à contact@izy-contrat.fr, soit par courrier postal à
                l'adresse
                suivante : 2 rue Charles Plumier, 45100 ORLEANS. Merci d’y préciser votre nom, prénom et adresse.</p>
            <p>En cas de violation de données à caractère personnel avérée à des dispositions légales ou réglementaires,
                IZY CONTRAT s'engage à vous le notifier dans un délai maximum de 72 heures après en avoir pris
                connaissance et
                par mail. Cette notification est accompagnée de toute documentation utile afin de vous permettre, si
                nécessaire,
                de notifier cette violation à l'autorité de contrôle compétente. De surcroit, ces informations pourront
                aussi
                faire l'objet d'une communication sur demande expresse et motivée des autorités judiciaires.</p>
            <p>Lorsque certaines informations sont obligatoires pour accéder à des fonctionnalités spécifiques du Site,
                l'Éditeur indiquera ce caractère obligatoire au moment de la saisie des données.</p>
            <p>IZY CONTRAT s'engage à :</p>

            <ul>
                <li class="ml-5">Traiter les données uniquement pour les seules finalités qui font l'objet de ce contrat
                    (principe dit de « minimisation »)
                </li>
                <li class="ml-5">Traiter les données conformément à vos instructions.</li>
                <li class="ml-5">Garantir la confidentialité des données à caractère personnel traitées dans le cadre du
                    présent contrat.
                </li>
                <li class="ml-5">Veiller à ce que les personnes autorisées à traiter les données à caractère personnel en
                    vertu du présent
                    contrat s'engagent à en respecter la confidentialité.
                </li>
            </ul>
            <p>Les informations recueillies pourront éventuellement être communiquées à des tiers liés à l'Éditeur
                par
                contrat pour l'exécution de tâches sous-traitées nécessaires à la gestion de votre compte et sans
                que vous ayez à
                donner votre autorisation. Vous pouvez vous opposer à ce transfert en manifestant votre refus auprès
                de notre
                contact mentionné ci-dessus.</p>
            <p>Dans le cadre de la gestion de votre compte, l’Éditeur peut éventuellement communiquer certaines de
                vos
                informations personnelles à des prestataires extérieurs liés par contrat à l’Éditeur, sans pour
                autant
                recueillir votre autorisation.</p>

            <h2>IV. Cookies</h2>

            <p>Le Site internet peut être amené à utiliser des cookies à des fins d’amélioration de nos services.
                L’Utilisateur
                peut s’opposer à l’enregistrement de cookies, ou être prévenu avant d’accepter les cookies, en
                configurant son
                navigateur internet.</p>
            <p>Vous disposez de la possibilité de bloquer, modifier la durée de conservation, ou supprimer ce cookie
                via
                l'interface de votre navigateur. Si la désactivation systématique des cookies sur votre navigateur
                vous empêche
                d'utiliser certains services ou fonctionnalités du Site, ce dysfonctionnement ne saurait en aucun
                cas constituer
                un dommage, vous ne pourrez prétendre à aucune indemnité de ce fait.</p>

            <h2>V. Respect de la propriété intellectuelle</h2>

            <p>L’Éditeur reste pleinement et entièrement propriétaire de tous les droits de propriété intellectuelle
                du
                présent site ainsi que l’ensemble de son contenu notamment les marques, photographies, textes,
                illustrations, images, vidéo, sons, études, prototypes, etc., sauf mentions particulières.
                L’utilisateur
                s'interdit donc toute reproduction, représentation, utilisation ou adaptation, sous quelque forme
                que ce
                soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans
                l’autorisation
                expresse de l'Éditeur qui peut la conditionner à une contrepartie financière. Toute utilisation
                autre que
                privée est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et
                suivants
                du Code de la propriété intellectuelle.</p>
            <p>De même, tout enregistrement, radiodiffusion, traduction et adaptation, totale ou partielle du site,
                est
                interdit.</p>
        </div>
    </section>
{% endblock %}
