{#{% extends '_layout.html.twig' %}#}
{#{% extends 'base.html.twig' %}#}

{% block title %}Je cree mon {{ typeStatut == 'SAS' ? 'SAS' : 'SASU' }} {% endblock %}

{% block body %}
<style>
    
/*form styles*/
body {
/*   background:#000; */
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.form-control.right-border {
  border-left:none;
}
.input-group-prepend.left-border {
    border: 1px solid #ced4da;
    border-radius: 0;
    border-right:none;
}
.form-control.right-border:focus {
  border-color: #ced4da !important;
  border-left:none !important;
}
.input-group-text {
  align-self: center;
  display: inline-block;
}
.input-group-text.top {
  align-self:flex-start;
}
.font-size {
  font-size:14px;
}
.image-1 {
  width:8%;
}
.mb {
  margin-bottom:0.5rem !important;
}
.mb-10 {
  margin-bottom:10px !important;
}

select:focus {
  box-shadow:none !important;
  outline:none !important;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
#msform input.previous.action-button-previous.mid[type='button'] {
  width:130px;
}
p.change-it {
     float: right;
    font-size: 10px;
    width: 50%;
    text-align: justify;
    font-weight: 600;
}
p.change-it.second {
  float:left !important;
}
input.action-button-2.width-50[type='button'],.width-50 {
  width:50% !important;
}
input.action-button-2.width-50.mid[type='button'] {
  color:#000 !important;
  width:46% !important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/* labels */

/* inner form */
.inner-form {
    position: absolute;
    z-index: 9;
    margin-top: 15px;
    margin-left: 2px;
}
/* note */
.note {
  background-color:#e9ecef;
  padding:14px 20px;
  text-align:left;
  font-size:14px;
}
.note-2 {
  padding:10px 0px 0 30px;
  text-align:left;
  font-size:12px;
}
label {
  font-size:14px;
  margin:5px 0 0;
}
.edit input,{
  font-size:14px;
}
.label-block {
  display:block;
}
/* /* radio buttons styling */
/* label.label-edit {
  display: inline-block;
  position: relative;
  user-select: none;
  cursor: pointer;
} */
/* label.label-edit input {
  display: none;
}
label.label-edit .rectangle {
  display: inline-block;
  width:30px;
  height: 30px;
  background-color:#e3e3e3;
}
label.label-edit .rectangle:hover {
  background-color:#ccc;
} 
label.label-edit input:checked + .rectangle {
  border:1px solid #000;
}
label.label-edit input:checked + .rectangle:after {
  content:''; */
} 
/*inputs*/
#msform input, #msform textarea {
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  position: relative;
}

#msform input:focus, #msform textarea:focus  {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2fb050;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #2fb050;
    font-weight: 400;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 1rem;
}
 input.action-button-2[type='button']{
    width: 100% !important;
    background: #2fb050;
    font-weight: 400;
    color: white !important;
    border: 0 none;
    border-radius: 3px !important;
    cursor: pointer;
    padding: 5px 5px;
    margin: 5px 0px;
    font-size: 14 px !important;
}

/* #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
} */

#msform .action-button-previous {
    width: 100px;
    background: #fff;
    font-weight: 400;
    color:#2fb050;
    border: 1px solid #2fb050;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 1rem;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    margin: 20px 0;
    font-weight: bold;
}
.pb-20 {
  padding-bottom:20px;
}
.mt-10 {
  margin-top:10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color:#2fb050;
    text-transform: uppercase;
    font-size: 12px;
    width: 19.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
/*     width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background:#f2f2f2;
    border-radius: 25px;
    margin: 0 auto 10px auto; */
      display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #2fb050;
    border-radius: 50%;
    color: #2fb050;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    position: absolute;
    left: -50%;
    top: 18px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background:#2fb050;
    color:#fff;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

</style>

<!-- MultiStep Form -->
<div class="row">
    <div class="col-md-12">
        
        <form id="msform" class="">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">General Information</li>
                <li>Create Quote Request</li>
                <li> Select Vendors  </li>
              <li>Analysis Options</li>
              <li>Review and Submit</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Step #1 General Information</h2>
    
            <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                 <h2 class="fs-title ">Step #2 CREATE QUOTE REQUEST</h2>
              
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                  <h2 class="fs-title ">Step #3 Select Vendors for Comparable Quotes</h2>
  
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                    <h2 class="fs-title ">Step #4 Analysis Options</h2>

                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                    <h2 class="fs-title ">Step #5 Review and Submit </h2>
                    <input type="button" name="previous" class="previous action-button-previous mid" value="Review Request "/>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
            
        </form>
        <!-- link to designify.me code snippets -->

</div>
<!-- /.MultiStep Form -->


<script>
 
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
        'transform': 'scale('+scale+')',
        'position': 'absolute'
      });
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".submit").click(function(){
	return false;
})   
    
</script>
{% endblock %}