{% extends "_layout.html.twig" %}


{% block body %}

    {% if user %}
        <h5>Félicitations votre compte a bien été activer!</h5><br>
        
        Pour vous connecter cliquer 
        
            <a href="{{ url('app_login') }}"> ICI</a>
        </p>
        
    {% else %}
     
         <h5>MEchec !! Merci de verifier votre boite email</h5><br>
     {% endif %}   
     
     
{% endblock %}
