{% extends '_layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
{% endblock %}
{% block title %}Validation Inscription{% endblock %}

{% block body %}
<section class="page-content container-fluid col-12 col-lg-10">
<h1 class="text-center mb-5">Activation de votre compte</h1>
<div class="text-center m-5">

    <p>Vous devez confirmer votre adresse e-mail en cliquant sur le lien de confirmation reçu par e-mail.</p>

</div>

</section>
{% endblock %}
