{% extends '_layout.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<section class="page-content container-fluid col-10 col-lg-10 pb-4">
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}
</section>
{% endblock %}
