{% extends '_layout.html.twig' %}

{% block title %}CGVU{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10">
        <h1 class="text-center mb-5 text-break">Conditions générales de ventes et d'utilisation(CGVU)</h1>

        <h2>Article I. Préambule</h2>
        <div class="text-justify my-2">
            <p>La société IZY CONTRAT (« IZY CONTRAT » ou « la Société ») est une société par actions simplifiée au
                capital de 3 000 euros, dont le siège social est situé au 2 rue Charles Plumier, 45100 ORLEANS
                immatriculée au registre du commerce et des sociétés d’Orléans sous le numéro d’identification unique
                887 655 918 IZY CONTRAT est éditrice du site internet www.izy-contrat.fr (« le Site »). La Société
                fournit aux Utilisateurs, par l’intermédiaire du site internet, un service de mise en relation (« la
                Mise en relation »), à la demande des Utilisateurs du site, avec des avocats inscrits à l’un des
                barreaux de France.</p>

            <p>Il est rappelé que la Société IZY CONTRAT n’est pas un cabinet d’avocats et ne fournit en aucun cas de
                prestations de consultation juridique, de rédaction d’actes sous-seing privé ou de représentation
                conformément à la réglementation applicable et en particulier aux dispositions de la loi du 31 décembre
                1971.</p>

            <p>Les présentes Conditions générales de ventes et d’utilisation (CGVU) ont pour objet de définir les
                conditions dans lesquelles l’Utilisateur peut utiliser le Site et les Services proposés.</p>

            <p>L’Utilisateur déclare avoir lu et accepté les présente CGVU ainsi que la politique de confidentialité du
                Site, le tout formant un CONTRAT indivisible.</p>

            <p>Les présentes CGVU ont également vocation à informer les Utilisateurs du Site sur les conditions de
                participation des Avocats au réseau IZY CONTRAT.</p>

            <p>La Société se réserve le droit de modifier les CGVU en fonction de l’évolution du Site et de ses
                activités.</p>

            <p>L’utilisation de ce site oblige le respect de nos CGVU ci-dessous. Si vous refusez les termes de cette
                dernière, veuillez ne pas utiliser le Site et les Services proposés.</p>
        </div>
        <h2>Article II. Définitions</h2>
        <div class="text-justify my-2">
            <p><span class="font-weight-bold">Abonné :</span> Tout utilisateur, ayant la capacité juridique, qui
                souscrit à un abonnement à nos services.</p>

            <p><span class="font-weight-bold">Abonnement :</span> La création d’un compte en payant un tarif pour
                bénéficier régulièrement de nos services.</p>

            <p><span class="font-weight-bold">Avocat :</span> Personne inscrite régulièrement à un barreau pouvant
                conseiller juridiquement, défendre ou
                assister une personne en justice.</p>

            <p><span class="font-weight-bold">Client :</span> Tout utilisateur professionnel agissant dans le cadre de
                son activité professionnelle commande
                et/ou achète un Document Juridique ou demande expressément une prestation à un des Avocats partenaires
                de la Société</p>

            <p><span class="font-weight-bold">Document Juridique :</span> Document disponible sur le Site</p>

            <p><span class="font-weight-bold">Donnée Clients : </span>Toute information communiquée par le Client</p>

            <p><span class="font-weight-bold">Formalités :</span> Ensemble des formalités administratives pour lesquels
                le Client donne mandat à la Société
                pour les réaliser (articles 1984 et suivants du Code civil)</p>

            <p><span class="font-weight-bold">Frais :</span> Il peut s’agir des dépenses complémentaires qu’engagent les
                démarches administratives et/ou
                juridiques par exemple les frais de greffe, frais d’annonce légale, etc.</p>

            <p><span class="font-weight-bold">La Société :</span> Il s’agit de la Société IZY CONTRAT, société par
                actions simplifiée unipersonnelle au
                capital de 3 000 euros, domiciliée au 2 rue Charles Plumier 45100 Orléans, immatriculée au RCS de
                Orléans sous le n° 887 655 918.</p>

            <p><span class="font-weight-bold">Prix ou Tarif :</span> Il s’agit de la valeur monétaire des documents
                juridiques et services proposés sur le
                Site.</p>

            <p><span class="font-weight-bold">Services :</span> Toute prestation proposée sur notre Site, notamment la
                mise à disposition de Document
                Juridique, de mise en relation avec des Avocats ou de réalisation des Formalités administratives.</p>

            <p><span class="font-weight-bold">Site :</span> Le Site internet accessible à l’adresse www.izy-contrat.fr
            </p>

            <p><span class="font-weight-bold">Utilisateur :</span> Toute personne physique majeure capable, ou toute
                personne morale, utilisant les services
                qui sont proposés sur le Site izy-contrat.fr</p>
        </div>

        <h2>Article III. Objet</h2>
        <div class="text-justify my-2">
            <p>La Société Izy Contrat fournit des services juridiques aux professionnels sur le site izy-contrat.fr, à
                savoir :</p>

            <p>La Génération automatique de modèles de documents juridiques personnalisés grâce à notre questionnaire
                en ligne par l’Utilisateur, qui est seul créateur desdits documents juridiques. La Société ne contrôle
                en rien les réponses formulées par l’Utilisateur et ne saurait être considérée comme le rédacteur du
                Document Juridique. L’Utilisateur est le seul et unique responsable de ce que contient le Document
                Juridique.</p>

            <p>La Réalisation des formalités administratives relatives aux Documents juridiques téléchargés, auprès des
                différents services compétents (Greffes des tribunaux de commerce, Centres des Formalités des
                Entreprises (CFE), préfectures, etc.). La Société ne saurait être responsable de l’invalidité ou de
                l’incohérence des pièces fournier par le Client, cela relève de la responsabilité du Client de s’en
                assurer. La Société vérifie seulement que le dossier comporte les pièces exigées par les textes en
                vigueur pour la réalisation des Formalités.</p>

            <p>L’Abonnement à certains de nos Services.</p>

            <p>La Mise en relation avec des professionnels du droit, notamment des Avocats partenaires (voir CGU
                Avocats) sur demande exprès de l’Utilisateur. Ce service est uniquement un service de référencement
                d’Avocats. L’Avocat a la possibilité d’accepter ou de refuser de travailler avec un Utilisateur devenu
                client. La Société n’intervient en aucun cas dans la relation entre le client et l’Avocat.</p>

            <p>La Mise à disposition de Fiches pratiques (document relatif aux différents Statuts juridiques),
                d’Articles sur notre Blog, accessibles sur notre Site.</p>

            <p>Ce présent document intitulé « Conditions Générales de Vente et d’Utilisation (CGVU) » a pour objet de
                détailler la relation contractuelle entre la Société et l’Utilisateur qui les accepte sans réserve.</p>

            <p>La création d’un espace personnel et/ou l’utilisation de tout ou partie des Services constituent votre
                acceptation totale des présentes CGVU ainsi que de notre Politique de confidentialité.</p>

            <p>Les conditions détaillées dans ce document priment à l’exception des conditions expresses qui peuvent
                être prévues dans certains documents sur le Site.</p>

            <p>La Société n’est en aucun un cabinet d’avocat mais peut vous mettre en relation avec un avocat. Les
                avocats répertoriés dans notre site sont totalement indépendants de la Société dans l’exercice de leurs
                fonctions. Le Site ainsi que les Services proposés sur le Site ne sauraient en aucun cas se substituer à
                une consultation d’avocat.</p>
        </div>
        <h2>Article IV. La création d’un espace personnel</h2>
        <div class="text-justify my-2">
            <p>La création de votre espace personnel est totalement gratuit et ouverte à toute personne physique,
                majeure et capable, y compris lorsqu’il agit au nom et pour le compte d’un autre professionnel ou toute
                personne morale constituée légalement.</p>

            <p>L’utilisation de votre espace personnel est strictement personnel et ne peut être utilisé par
            plusieurs
            personnes ou sociétés. Il est formellement interdit de créer plusieurs espaces personnels et vous vous
            engagez donc à n’en créer qu’un seul.</p>


        <p>Votre mot de passe est strictement personnel et confidentiel, il est de votre responsabilité de tout
            mettre en œuvre afin d’assurer la confidentialité de votre mot de passe qui vous permet d’accéder à
            votre espace personnel. Il ne doit en aucun cas être communiqué à des tiers afin d’éviter toute fraude
            et/ ou abus.</p>

        <p>Dans le cas où vous avez perdu ou oublié votre mot de passe, vous avez la possibilité de demander la
            réinitialisation de votre mot de passe via le Site.</p>

        <p>Pour créer un espace personnel, vous devez remplir un formulaire d’inscription et renseigner les
            informations suivantes :</p>
<ul>
    <li class="ml-5">Nom et prénom du représentant</li>
    <li class="ml-5">Dénomination sociale ou Raison Sociale</li>
    <li class="ml-5">  Date de naissance</li>
    <li class="ml-5">    Email</li>
    <li class="ml-5">    Mot de passe</li>
        </ul>
        <p>Vous vous engagez à fournir des informations exactes, complètes et précises. Vous pouvez à tout moment
            accéder à vos informations et les mettre à jour dans votre espace personnel.</p>

        <p>La Société ne saurait être tenue responsable au cas où elle n'aurait pas été avisée d'un changement de
            votre situation ou si vous avez fourni des informations erronées vous concernant.</p>
        </div>
        <h2>Article V. Les commandes de nos services.</h2>
        <div class="text-justify my-2">
            <p>Pour effectuer une Commande sur le Site, vous devez tout d’abord créer un espace personnel dans les
                conditions précisées ci-dessus puis sélectionner le Document, la prestation ou l’abonnement souhaité sur
                le Site, ensuite vous devez confirmer votre commande, accepter les CGVU et enfin procéder au paiement en
                cliquant sur la touche correspondante.</p>

            <p>Une fois la commande validée, la Société procédera à l’exécution du ou des Services choisis par vos
                soins sans vous demander votre accord exprès.</p>

            <p>Si vous souhaitez apporter des modifications à votre commande, votre demande sera soumise à l’accord de
                la Société.</p>

            <p>Conformément à l’article L. 221-28 alinéas 1° et 13° du Code de la consommation, vous renoncez
                expressément à tout droit de rétractation.</p>

            <p>Concernant l’Abonnement « Assistance Izy Contrat », il est souscrit pour une durée de trois (3) mois et
                tacitement reconductible. Conformément à l’article L. 221-19 du Code de la consommation, vous avez la
                possibilité de vous rétracter de votre commande dans un délai de 14 jours courant à compter de la date à
                laquelle vous avez passé la Commande en nous le notifiant par courrier électronique à l’adresse :
                contact@izy-contrat.fr.</p>

            <p>En acceptant les présentes CGVU, vous reconnaissez expressément avoir été informé des modalités de
                rétractation.</p>
        </div>
        <h2>Article VI. Les Formalités.</h2>
        <div class="text-justify my-2">
            <p>Conformément aux articles 1984 et suivants du Code civil, pour toute souscription à une offre incluant
                une option Formalité, le client donne mandat la Société pour accomplir toutes les Formalités en son nom.</p>

            <p>  Cependant, les délais de traitement des Formalités varient en fonction de la nature des Formalités
                concernées. À ce titre, la Société n’est redevable que d’une obligation de moyens.</p>

            <p>   Il se peut que les délais annoncés sur le Site soit plus long du fait de l’impossibilité de transmettre
                les dossiers informatiquement à certains tribunaux notamment dans les départements d’Alsace-Moselle et
                d’outre-mer (DOM) .</p>

            <p>    La responsabilité de la Société ne saurait être engagée dans le cas où l’accomplissement des Formalités
                ne peut aboutir ou en cas de délais allongés du fait d’un manquement à votre obligation de nous
                communiquer les documents et informations nécessaires à votre dossier. De ce fait, tous paiements
                réalisés au titre des commandes passées ne pourront vous être remboursés.</p>
        </div>
        <h2>Article VII. Le tarif de nos services.</h2>
        <div class="text-justify my-2">
            <p>Conformément à l’article L.113-3 du Code de la consommation, les tarifs des Services disponibles sur le
                Site sont indiqués en Euros, soit hors taxe (HT) et toutes taxes françaises comprises (TTC).</p>

            <p>Le Client est engagé par sa commande dès qu’il clique sur « Payer ». Le prix du Service est celui en
                vigueur au jour de la Commande.</p>

            <p>Les frais administratifs obligatoires ne sont pas inclus dans nos prix et devront être acquittés
                directement auprès des services compétents.</p>

            <p>La Société se réserve le droit de modifier le prix des Services proposés sur le Site et, ce, à tout
                moment.</p>
        </div>
        <h2>Article VIII. Les modalités de paiement de nos services.</h2>
        <div class="text-justify my-2">
            <p>Les achats de Documents Juridiques se fait par paiement par carte bancaire (Carte Bleue, Visa,
                Eurocard/Mastercard) ou par virement bancaire via le service de paiement sécurisé fourni par la société
                Stripe, Inc. à la Société.</p>

            <p>Pour les virements bancaires, les commandes sont traitées dans les 48H maximum suivant la réception du
                virement.</p>

            <p>En ce qui concerne, pour les Abonnements uniquement, cela sera fait par prélèvement SEPA. La Société
                utilise pour cela le service de paiement sécurisé par Stripe, Inc.</p>

            <p>Les données confidentielles (le numéro de carte bancaire à 16 chiffres ainsi que la date d'expiration,
                le code CVV) sont directement transmises cryptées sur le serveur de la banque sans que la Société n’ait
                accès à ces données.</p>

            <p>En ce qui concerne les Abonnements souscrits, le paiement sera effectué par prélèvement automatique sur
                la carte bancaire utilisée pour le paiement du Service initialement souscrit.</p>
        </div>
        <h2>Article IX. La facturation de nos services.</h2>
        <div class="text-justify my-2">
            <p>Après paiement de nos services, vous acceptez que la Société puisse vous envoyer par email la
                confirmation de votre commande ainsi qu’un lien vous redirigeant vers votre espace personnel où se
                trouve votre facture.</p>

            <p>Dans votre intérêt, il vous est recommandé d’imprimer votre facture qui constitue une preuve d’achat.</p>
        </div>
        <h2>Article X. La réalisation de nos services</h2>
        <div class="text-justify my-2">
            <p>Toute commande de Document juridiques est immédiatement mis à disposition, après le paiement de ladite
                commande, sur votre espace personnel en format PDF.</p>

            <p>Il vous est recommandé de télécharger ce Document et de le stocker sur votre ordinateur ou espace de
                stockage de votre choix</p>
        </div>
        <h2>Article XI. La durée de nos services.</h2>
        <div class="text-justify my-2">
            <p>La durée de la validité ou de l’exécution de nos services est indiquée avant la commande sur le Site et
                ce, en fonction de la nature des services.</p>

            <p>En dehors des cas de maintenance, le téléchargement de certains documents, y compris les documents
                automatisés est en principe instantané sur l’espace personnel de l’Utilisateur une fois qu’il paye sa
                commande.</p>

            <p>Afin de procéder à des mises à jour et/ou des opérations de maintenance, il est possible que le
                fonctionnement du Service soit temporairement interrompu. Cette interruption peut s’opérer pendant les
                heures de travail à savoir, de 9h à 12h et de 13h à 18h, ou elle peut aussi s’opérer en dehors de ces
                horaires et ce sans préavis dans les deux cas.</p>
        </div>
        <h2>Article XII. Les responsabilités, obligations et prérogatives de la Société</h2>
        <div class="text-justify my-2">
            <p>Les documents juridiques automatisés de la Société sont des documents juridiques classiques qui ne
                garantissent pas que leurs utilisations ou contenus vont correspondre avec exactitude à la situation ou
                aux besoins de l’utilisateur.</p>

            <p>La Société n’est pas responsable de la mauvaise gestion de nos services par l’utilisateur ou par nos
                partenaires Avocats.</p>

            <p>La pratique d’un service différemment de ce que prévoient ces présentes CGVU pour favoriser un abonné ou
                un utilisateur n’empêche pas à la Société d’opter pour le respect de ses CGVU pour encadrer l’exécution
                d’un autre service avec ce dernier.</p>

            <p>La Société a la possibilité, et ce à tout moment, de modifier certains documents (y compris le CGVU) ou
                mettre à jour le Site, etc.</p>

            <p>La Société a également la possibilité de modifier les prix de ses services (cette modification doit être
                notifiée à l’abonné car il a la possibilité de refuser ce changement et résilier son abonnement mais il
                doit le faire expressément sinon cette modification s’appliquera pour l’exécution des services
                postérieurs).</p>

            <p> En cas de violation de nos présentes CGVU, la Société peut rompre unilatéralement à sa relation
                contractuelle avec vous sur simple notification par email et ce, sans délai et sans que vous puissiez
                prétendre à un remboursement ni à aucun dommage et intérêt.</p>

            <p> En cas d’éventuelles difficultés qui surviendraient suite à la mise en relation avec un des partenaires
                de la Société, la responsabilité de cette dernière ne saurait être engagée.</p>

            <p> La Société s’engage à répondre à toute réclamation dans un délai maximum de quinze (15) jours ouvrés à
                compter de la réception de votre message via notre formulaire de contact que vous trouverez à la
                rubrique « nous contacter » ou de votre courrier électronique à l’adresse suivante :
                contact@izy-contrat.fr</p>
        </div>
        <h2>Article XIII. Les responsabilités, droits et obligations de l’Utilisateur / Client / Abonné</h2>
        <div class="text-justify my-2">
                <p>l’Utilisateur / Client / Abonné est seul responsable de l'utilisation du Service, du contenu des
                fichiers, informations, et des Données Clients communiquées et renseignées sur le Site, de leur mise à
                jour ainsi que de leur exploitation et de leur mise à jour.</p>

                <p>Tous Services, Contenu, Documents du Site sont uniquement destinés à être utilisés à des fins
                personnelles et ne peuvent être mis à la disposition du public si ce n’est par la Société elle-même,
                détentrice de tous les droits sur l’intégralité du Site et de son contenu quel qu’il soit. L’Utilisateur
                / Client / Abonné s’interdit donc d’en faire un usage commercial. Il est formellement interdit de
                vendre, louer ou commercialiser ces éléments car cela constituerait une violation des dispositions
                relatives au droit d’auteur ou au droit de la propriété intellectuelle. Par ailleurs l’Utilisateur /
                Client / Abonné s’interdit de procéder à une quelconque altération, reproduction, correction,
                    arrangement, modification ou diffusion des éléments cités ci-dessus.</p>

            <p> L’Utilisateur / Client / Abonné a l’obligation de renseigner et de vérifier que toutes les informations
                renseignées sur son espace personnel ou directement à la Société lorsque celle-ci en fait la demande
                par exemple dans le cadre de la réalisation des Formalités, sont exactes, sincères et conformes.</p>

                <p>L’Utilisateur / Client / Abonné a l’obligation de respecter les exigences légales et les CGVU de notre
                Site.</p>

                <p>L’Utilisateur / Client / Abonné a le droit d’être notifié de manière électronique en cas de changement
                de ces présentes CGVU (il a la possibilité de refuser le changement mais il doit le faire expressément
                auquel cas ces présentes CGVU s’appliqueront pour l’exécution des services postérieurs).</p>

        </div>
        <h2>Article XIV. Fermeture de votre espace personnel</h2>
        <div class="text-justify my-2">
            <p> Vous avez la possibilité de fermer votre espace personnel à tout moment en nous envoyant un email à
                l’adresse suivante : contact@izy-contrat.fr</p>

            <p> Tout espace personnel inactif sera définitivement supprimé après cinq (5) ans après sa création.</p>

            <p> En cas de fraude ou de tentative de fraude, du non-respect des présentes CGVU, la Société se réserve le
                droit de suspendre ou clôturer votre espace personnel, à tout moment, de plein droit et sans formalité
                judiciaire, après l’envoi par e-mail (ou par voie postale) d’une mise en demeure restée sans effet
                pendant une durée de cinq (5) jours calendaires à compter de sa réception.</p>

            <p> Par la fermeture de votre espace personnel, toutes les informations communiquées à Société lors de
                l’ouverture ou de la mise à jour de votre espace personnel seront définitivement supprimées, cela inclut
                tous les Documents et autres éléments téléchargés et stockés sur le Site dans votre espace
                personnel.</p>

            <p> Nous vous recommandons donc de sauvegarder, sur votre ordinateur ou sur tout autre support de votre
                choix, tous les Documents, informations et autres éléments téléchargés et stockés sur le Site dans votre
                espace personnel.</p>

            <p> Nous nous réservons le droit de garder tous ces éléments sur nos serveurs pour une durée
                raisonnable.</p>

            <p> Toutefois, vous ne pourrez prétendre à un quelconque remboursement, qu’il soit total ou partiel, des
                sommes déjà payées pour un Service en cours.</p>
        </div>
        <h2>Article XV. Les horaires</h2>
        <div class="text-justify my-2">
            <p> En dehors des cas de maintenance, l’accès au Site et le bénéfice de certains services automatisés en
                ligne sont possibles 24h/24h.</p>

            <p> Notre service client est joignable durant les heures de travail à savoir, de 9h à 12h et de 13h à
                18h.</p>

            <p> Comment contacter notre Service Client en cas de réclamation ou demande d’informations supplémentaires
                ?</p>

            <p> Les jours fériés ou certaines périodes de vacances peuvent avoir un impact sur nos disponibilités, nos
                horaires sont disponibles sur le Site.</p>
<ul>
    <li class="ml-5">Numéro de téléphone : 07 83 95 48 39</li>

    <li class="ml-5">Adresse e-mail : contact@izy-contrat.fr</li>

    <li class="ml-5"> Adresse postale : 2 rue Charles Plumier, 45100 ORLEANS</li>

    <li class="ml-5"> Réseaux sociaux (LinkedIn, Twitter, Facebook, Instagram) : IZY CONTRAT</li>
</ul>
        </div>
        <h2>Article XVI. Liens Hypertextes</h2>
        <div class="text-justify my-2">
            <p> Le Site peut contenir des liens vers des sites internet tiers, notamment vers les réseaux sociaux. En
                cliquant sur un lien vers un site tiers, vous quitter les Services régis par les CGVU et comprenez et
                acceptez qu’aucun contrôle n’est effectué sur ces sites internet tiers. Ainsi, nous ne pouvons garantir
                qu’un site tiers adhère aux mêmes pratiques de sécurité et de confidentialité que les nôtres. Nous ne
                saurions donc être tenus pour responsables de l’utilisation qui pourrait être faite de vos Données
                Personnelles par ces sites. Vérifiez les politiques de confidentialités avant de transmettre vos données
                personnelles à des sites tiers. Néanmoins, la Société mettra tout en œuvre pour supprimer les liens vers
                les sites inappropriés dont il aurait connaissance. La Société invite ses Utilisateurs à lui signaler
                tout lien hypertexte présent sur le Site qui permettrait d'accéder à un site internet proposant un
                contenu contraire aux lois ou aux bonnes mœurs.</p>
        </div>
        <h2>Article XVII. Autres</h2>
        <div class="text-justify my-2">
            <p> Le fait que l’une des clauses des présentes CGVU soit nulle n'entraîne pas la nullité de ces dernières,
                les autres clauses seront toujours valables.</p>

            <p> De surcroit, le fait, pour la Société de ne pas se prévaloir à titre temporaire ou permanent d’une ou
                plusieurs clauses des présentes CGVU, n’emportera en aucun cas renonciation à se prévaloir du reste de
                ces dernières.</p>

            <p> En cas de force majeure telle que définie par l’article 1218 du Code civil la Société ne peut être tenue
                pour responsable de l’inexécution des Services.</p>
        </div>
        <h2>Article XVIII. Respect de la propriété intellectuelle</h2>
        <div class="text-justify my-2">
            <p> La Société reste pleinement et entièrement propriétaire de tous les droits de propriété intellectuelle
                du présent site ainsi que l’ensemble de son contenu notamment les marques, photographies, textes,
                illustrations, images, vidéo, sons, études, prototypes, etc., sauf mentions particulières. L’utilisateur
                s'interdit donc toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce
                soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l’autorisation
                expresse de l'Éditeur qui peut la conditionner à une contrepartie financière. Toute utilisation autre
                que privée est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et
                suivants du Code de la propriété intellectuelle.</p>
            <p>   De même, tout enregistrement, radiodiffusion, traduction et adaptation, totale ou partielle du site, est
                interdit.</p>
        </div>
        <h2>Article XIX. Droit applicable et modalité de règlement des différends.</h2>
        <div class="text-justify my-2">
            <p>Les présentes CGVU sont soumises à la loi française.
                En cas de litige ou de réclamation, survenant à propos de l'exécution, de la résiliation ou des
                conditions des présentes CGVU, les parties s'efforceront de régler leur différend à l'amiable.
                Dans le cas où aucune solution amiable n'était trouvée et dans le cas où vous agiriez en qualité de
                professionnel, le litige sera porté exclusivement devant les tribunaux d’Orléans.</p>
        </div>


        <a class="text-secondary mb-5" href="{{ path('cgu') }}">Retour</a>
    </section>
{% endblock %}
