{% extends '_layout.html.twig' %}

{% block title %}Conditions générales{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10">
        <h1 class="text-center">Conditions générales</h1>
        <div class="text-center m-5">
            <a class="text-secondary" href="{{ path('cgu_lawyer') }}">CGU Avocats</a>
        </div>
    </section>
{% endblock %}
