{% extends '_layout.html.twig' %}

{% block title %}CGU Avocats{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10">
        <h1 class="text-center mb-5 text-break">Conditions générales d'utilisation Avocats</h1>

        <h2>Préambule</h2>

        <div class="text-justify my-2">
            <p>La société IZY CONTRAT (« IZY CONTRAT » ou « la Société ») est une société par actions simplifiées au
                capital de 3 000 euros, dont le siège social est situé au 2 rue Charles Plumier, 45100 ORLEANS
                immatriculée au registre du commerce et des sociétés d’Orléans
                sous le numéro d’identification unique 887 655 918 IZY CONTRAT est éditrice du site internet
                www.izy-contrat.fr (« le Site »). La Société fournit aux Utilisateurs, par l’intermédiaire du site
                internet, un service de mise en relation (« la Mise en relation »),
                à la demande des Utilisateurs du site, avec des avocats inscrits à l’un des barreaux de France.</p>
            <p>Il est rappelé que la société IZY CONTRAT n’est pas un cabinet d’avocats et ne fournit en aucun cas de
                prestations de consultation juridique, de rédaction d’actes sous-seing privé ou de représentation
                conformément à la réglementation applicable et en particulier aux dispositions de la loi du 31 décembre
                1971.</p>
            <p>La présente Charte a pour objet de définir les conditions dans lesquelles L’Avocat participe au service
                de mise en relation proposé par le Site. La participation de l’Avocat implique l’acceptation sans
                réserve des conditions de la présente Charte. L’Avocat déclare avoir lu et accepté les conditions de la
                présente Charte ainsi que les Conditions Générales d’Utilisation et de Vente du Site, le tout formant un
                CONTRAT indivisible.</p>
            <p>La présente Charte a également vocation à informer les Utilisateurs du Site sur les conditions de
                participation des Avocats au réseau IZY CONTRAT.
                IZY CONTRAT se réserve le droit de modifier les CGU-Avocats en fonction de l’évolution du Site et de ses
                activités</p>
        </div>

        <h2>Article I. Définitions</h2>
        <div class="text-justify my-2">
            <p><span class="font-weight-bold">Avocat :</span> Tout avocat inscrit à un barreau français.</p>
            <p><span class="font-weight-bold">CNB : </span>Conseil National des Barreaux correspondant à l’institution
                nationale qui représente l’ensemble des
                avocats exerçant en France.</p>
            <p><span class="font-weight-bold">RIN : </span>Règlement Intérieur National de la profession d’avocat
                correspondant à un ensemble de dispositions
                générales définissant les règles et usages auxquels sont soumis les avocats inscrits à un barreau
                français et constituant le socle de la déontologie des avocats.</p>
            <p><span class="font-weight-bold">Utilisateur :</span> toute personne physique majeure capable, ou toute
                personne morale, utilisant les services qui
                sont proposés sur le Site legalpace.fr, pouvant être soit un particulier, soit un professionnel.</p>
        </div>

        <h2>Article II. Conditions et modalités de référencement</h2>
        <div class="text-justify my-2">
            <p>Tout avocat qui souhaite être référencé sur le doivent répondre aux conditions suivantes:</p>
            <ul>
                <li>être titulaire du CAPA;</li>
                <li>être régulièrement inscrit à un barreau français;</li>
                <li>être à jour du paiement de ses cotisations ordinales et ne pas avoir pas fait l’objet de sanctions
                    disciplinaire de la part de l’Ordre professionnel dont il dépend.
                </li>
            </ul>
            <p>Afin d’appartenir au réseau d’Avocats IZY CONTRAT, l’Avocat doit dans un premier temps en faire la
                demande en cliquant sur ce <a class="text-secondary" href="{{ path('lawyer_register') }}">lien.</a></p>
            <p>L’Avocat désireux de participer au service mis en avant par la Société s’engage à respecter les
                conditions d’exercice de la profession d’Avocat, notamment les pratiques et principes établis par le CNB
                et par le RIN.</p>
            <p>Lors de sa demande de référencement, l’Avocat s’engage à fournir à la Société des informations exactes
                sur ses compétences et à communiquer à la Société tous les justificatifs que la Société estime
                nécessaires au référencement de l’Avocat.</p>
            <p>La Société se réserve le droit d’effectuer une sélection suite à une demande de référencement d’un
                Avocat. La Société est donc libre d’accepter ou de refuser la demande de référencement d’un Avocat.
                La Société se réserve également le droit de suspendre ou d’exclure définitivement du Site un Avocat déjà
                référencé, sans avoir à motiver sa décision et sans que l’Avocat ne puisse prétendre à un quelconque
                préjudice.</p>
            <p>Conformément à l’article 6.6.4.3 du RIN, l’Avocat doit informer l’Ordre des avocats de son référencement
                sur le Site.</p>
        </div>
        <h2>Article III. Création et suppression des profils</h2>
        <div class="text-justify my-2">
            <p>Une fois la demande de référencement de l’Avocat acceptée par la Société, un profil personnalisé sera
                créé
                sur le Site. Où l’Avocat est libre d’afficher les informations suivantes:</p>
            <ul>
                <li>son nom, prénom, email et numéro de téléphone;</li>
                <li>sa formation et son domaine d’expertise; et</li>
                <li>une photo.</li>
            </ul>

            <p>L’Avocat peut, à tout moment, modifier ou supprimer les informations figurant sur son profil.</p>

            <p>IZY CONTRAT se réserve le droit de suspendre le profil personnel d’un Avocat en cas d’informations
                erronées
                et ce, jusqu’à rectification des informations. Après un délai de 7 jours ouvrés, la Société se réserve
                le droit de fermer le profil personnel de l’Avocat.</p>
            <p>La fermeture du profil personnel de l’Avocat entraine la suppression définitive des informations
                communiquées à IZY Contrat lors de la création de son profil et pendant toute la durée du
                référencement.</p>
            <p>En cas de fermeture du profil, aucun remboursement de Cotisation pour le mois en cours ne sera
                effectué.</p>
        </div>
        <h2>Article IV. Conditions et Modalités de mise en relation</h2>
        <div class="text-justify my-2">
            <p>Afin de pouvoir participer au service de Mise en relation proposé par la Société, l’Avocat doit faire
                partie
                du réseau IZY CONTRAT, il doit donc être préalablement référencé par IZY CONTRAT selon les conditions et
                modalités de l’article III de la présente Charte.</p>
            <p>Conformément aux dispositions de l’article 6.6.4.3. alinéa 2 du RIN, l’avocat doit participer au service
                de Mise en relation dans le respect du secret professionnel et de la règle du conflit d’intérêts.
                L’Avocat est libre de refuser l’Utilisateur proposé par la Société.</p>
            <p>La Société ne peut donc garantir l’intervention d’un Avocat à la suite d’une demande de Mise en relation
                à l’initiative d’un Utilisateur, l’Avocat étant totalement libre de son choix et susceptible de ne pas
                assister l’Utilisateur (notamment en cas de conflit d’intérêts). L’Utilisateur est également entièrement
                libre de son choix d’accepter ou de refuser l’Avocat proposé par la Société.</p>
            <p>L’Avocat s’assure de l’identité de l’Utilisateur préalablement à toute intervention et confirme à
                l’Utilisateur son nom et ses coordonnées, et communique ses conditions d’intervention.</p>
            <p>L’Utilisateur est entièrement libre dans le choix de l’Avocat et a accès gratuitement aux profils des
                Avocats et peut, à tout moment, demander à être mis en relation gratuitement avec un Avocat.</p>
            <p>Les services proposés par IZY CONTRAT se limitent exclusivement au référencement d’avocats sur le Site
                permettant la mise en relation des Utilisateurs avec des Avocats. Ainsi, les prestations de conseil
                juridique des Avocats seront fournies intégralement hors du Site et selon les termes et conditions
                conclus directement entre l’Avocat et l’Utilisateur.</p>
        </div>
        <h2>Article V. Blog et Fiches Pratiques</h2>
        <div class="text-justify my-2">
            <p>Une fois son profil personnalisé créé, l’Avocat pourra produire du contenu éditorial à destination des
                Utilisateurs. Tout contenu édité par un Avocat sera publié sur le Site sous le lien «Fiches Pratiques»;
                ou sous
                le lien « Blog ».</p>
            <p>L’Avocat est responsable de l’intégralité des Fiches et Articles de Blog publiés sur le Site et pourra
                modifier toute Fiche ou article de Blog dont il est le rédacteur à tout moment.</p>
            <p>L’Avocat devra, en toutes circonstances, respecter les conditions suivantes:</p>
            <ul>
                <li>être l’auteur exclusif de toute Fiche ou article de Blog publié sur le Site et signer en son nom;
                    et
                </li>
                <li>conformément à l’article 10.6 du RIN, Il ne peut intégrer de lien hypertexte permettant d'accéder
                    directement ou indirectement à des sites ou à des pages de sites dont le contenu serait contraire
                    aux principes essentiels de la profession d'avocat.
                </li>
            </ul>
            <p>IZY CONTRAT se réserve le droit de supprimer tout publication dont le contenu serait illicite, manifestement
            erroné ou non mis à jour.</p>
        </div>
        <h2>Article VI. Exonération de la responsabilité de IZY CONTRAT</h2>
        <div class="text-justify my-2">
            <p>Conformément à l’article 6.6.2 du RIN, il appartient à l’Avocat de s’assurer de l’identité et des
                caractéristiques de l’Utilisateur. En aucun cas la Société ne pourra être tenue responsable en cas
                d’inexactitude des informations relatives à l’identité et aux caractéristiques de l’Utilisateur.</p>
            <p>La Société ne procède à aucune vérification de la véracité, complétude et pertinence des informations
                fournies par les avocats. De même que la Société n’assume aucune responsabilité en cas de :</p>
            <ul>
                <li>mauvaise utilisation des services proposés sur le Site par le Client ou l’Avocat,</li>
                <li>d’insatisfaction de l’Utilisateur quant à la prestation fournie par un Avocat, qu’il s’agisse
                    notamment du respect du secret professionnel, de l’absence de conflit d’intérêts et de la pertinence
                    des informations fournies à l’Utilisateur, l’Avocat répondant seul du contenu de la consultation
                    juridique.
                </li>
            </ul>
            <p>
                En cas de refus, suspension ou exclusion définitive relative au référencement de l’Avocat, la
                responsabilité de la Société ne saurait être engagée. En cas d’échec de mise en relation d’un Avocat et
                d’un Utilisateur, la Société ne pourra pas non plus être tenue responsable.</p>
            <p>
                La responsabilité de IZY CONTRAT ne saurait être engagée si un Avocat donnait de mauvaises informations
                sur son profil personnalisé ou dans une Fiche pratique ou Article de Blog.</p>
            <p>
                La Société ne pourra être tenue responsable d’une interruption du Site imputable à un aléa extérieur ou
                un cas de force majeure ou de toute difficulté d’accès liée à une mauvaise utilisation du Site par
                l’Avocat ou l’Utilisateur.</p>
        </div>

        <h2>Article VII. Liens hypertextes</h2>
        <div class="text-justify my-2">
            Le Site peut contenir des liens vers des sites internet tiers, notamment vers les réseaux sociaux. En
            cliquant
            sur un lien vers un site tiers, vous quitter les Services régis par les CGU et comprenez et acceptez
            qu’aucun
            contrôle n’est effectué sur ces sites internet tiers. Ainsi, nous ne pouvons garantir qu’un site tiers
            adhère
            aux mêmes pratiques de sécurité et de confidentialité que les nôtres. Nous ne saurions donc être tenus pour
            responsables de l’utilisation qui pourrait être faite de vos Données Personnelles par ces sites. Vérifiez
            les
            politiques de confidentialités avant de transmettre vos données personnelles à des sites tiers. Néanmoins
            IZY
            CONTRAT mettra tout en œuvre pour supprimer les liens vers les sites inappropriés dont il aurait
            connaissance.
            IZY CONTRAT invite ses Utilisateurs à lui signaler tout lien hypertexte présent sur le Site qui permettrait
            d'accéder à un site internet proposant un contenu contraire aux lois ou aux bonnes mœurs.
        </div>
        <h2>Article VIII. Conditions tarifaires</h2>
        <div class="text-justify my-2">
            <p>Conformément à l’article 6.6.4.2 du RIN, en contrepartie de son référencement sur le Site, tout Avocat
                est redevable d’une cotisation correspondant exclusivement aux frais de fonctionnement du Site (la «
                Cotisation »). Cette cotisation est fixée de manière forfaitaire par IZY CONTRAT et versée par l’Avocat
                mensuellement. La Société sera en droit le cas échéant de facturer une prestation de référencement de
                l’Avocat et de gestion technique du service de Mise en relation.</p>
            <p>Conformément à l’article 11.4 du RIN, l’Avocat ne partage en aucun cas ses honoraires avec la Société. La
                Société ne percevra donc pas de rémunération, directement ou indirectement, en fonction des honoraires
                versés à l’Avocat par les clients avec lesquels le Site l’a mis en relation.</p>
            <p>Toutefois, conformément à l’article 6.6.4.3 du RIN, l’Avocat donne mandat à la Société de percevoir pour
                son compte les honoraires qui lui reviennent et ce uniquement et strictement à hauteur du montant
                indiqué sur le Site pour la prestation de conseils juridiques d’un Avocat. L’Avocat pourra percevoir
                toute ou partie de ses honoraires par l’intermédiaire de l’un des établissements financiers assurant la
                sécurité des paiements en ligne. L’Avocat fait son affaire d’adresser directement une facture à son
                client Utilisateur.</p>
        </div>
        <h2>Article IX. Loi applicable et juridiction compétente</h2>
        <div class="text-justify my-2">
            <p>La présente Charte est soumise à loi française.</p>
            <p>En cas de litige relatif à l’application de la présente Charte, les parties s’efforceront de régler leur
                différend à l’amiable.</p>
            <p>Si aucune solution amiable n'était trouvée et dans le cas où l'Utilisateur agirait en qualité de
                professionnel, le litige sera porté exclusivement devant les tribunaux de d’Orléans.</p>
        </div>

        <a class="text-secondary mb-5" href="{{ path('cgu') }}">Retour</a>
    </section>
{% endblock %}
