@import "app";

.buttonfull{
  position:absolute;
   margin-top:25px;
  display: block;
  width: 100%;
  bottom:50px;
  min-height: 28px;        // Make inputs at least the height of their button counterpart
  // box-sizing:(border-box); // Makes inputs behave like true block-level elements
}
.successmessage{
  margin-top:100px;
  text-align:center;
  align:center;
    
}