{% extends '_layout.html.twig' %}
{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10">
        <h1 class="text-center">Politique de confidentialité</h1>
        <div class="text-justify my-5">

            <h2>1) Préambule</h2>
            <p>La société IZY CONTRAT (« IZY CONTRAT » ou « la Société ») est une société par actions simplifiées au
                capital
                de 3 000 euros, dont le siège social est situé au 2 rue Charles Plumier, 45100 ORLEANS immatriculée au
                registre du commerce et des sociétés d’Orléans sous le numéro d’identification unique 887 655 918 IZY
                CONTRAT est éditrice du site internet www.izy-contrat.fr (« le Site »). La Société fournit aux
                Utilisateurs,
                par l’intermédiaire du site internet, un service de mise en relation (« la Mise en relation »), à la
                demande
                des Utilisateurs du site, avec des avocats inscrits à l’un des barreaux de France.</p>

            <p>Notre politique de confidentialité a pour but de détailler le traitement des données des Utilisateurs qui
                utilisent les Services de la société Izy Contrat. Il fait partie intégrante des Conditions Générales de
                Vente et d’Utilisation (CGVU).</p>

            <p>Notre politique de confidentialité est rédigée dans le respect de la loi « Informatique et Liberté » et
                le Règlement Général de la Protection des Données Personnelles (RGPD).</p>

            <p>Par cette présente politique de confidentialité, IZY CONTRAT s’est inscrit dans une logique de loyauté,
                transparence et dans une logique qui consiste à respecter la vie privée de ses utilisateurs concernant
                la collecte, le traitement, le stockage ou la conservation, la transmission et/ou la suppression de
                leurs données personnelles et d’assurer la confidentialité et la sécurité des données personnelles des
                Utilisateurs.</p>

            <p>L’utilisation du Site oblige à la lecture, la prise de connaissance ainsi qu’au respect des dispositions
                de la politique de confidentialité. Si vous refusez les termes de cette dernière, veuillez ne pas
                utiliser le site et les Services proposés.</p>

            <p>Le terme « utilisation de vos données personnelles » dans notre politique de confidentialité peut
                englober ou faire référence à l’une des options suivantes : collecte, traitement, stockage ou
                conservation, transmission, exploitation et/ou la suppression.</p>
            <ul>
                <li><p>Définition des données personnelles.</p>

                    <p>Les données personnelles représentent l’information ou les informations qui permettent
                        d’identifier un utilisateur ou un abonné du site (personne physique).</p></li>

                <li><p>Les différentes données personnelles.</p>

                    <p>Ces données peuvent être le prénom, le nom, date de naissance, adresse, adresse e-mail, adresse
                        IP, Code Postal, identifiant de connexion informatique, identifiant de cookie, numéro d’une
                        pièce d’identité, le numéro de sécurité sociale, le numéro de téléphone, numéro
                        d’immatriculation au Registre de Commerce et Sociétés, numéro d’immatriculation au Répertoire
                        des Métiers, une photo, un enregistrement sonore de la voix, identité bancaire, etc.</p></li>
            </ul>
            <h2>2) Destinataires des données à caractère personnel.</h2>

            <p>Les données à caractère personnel des Utilisateurs sont collectées et traitées par la Société. Les
                données
                peuvent également être communiquées aux sous-traitants de la Société qui agissent au nom et pour le
                compte
                de la Société, et notamment l’hébergeur du Site, les prestataires de paiement et technologie
                publicitaire.</p>

            <p>Dans les cas où l’utilisateur en a fait la demande expresse, la Société peut communiquer les données
                personnelles des Utilisateurs à ses partenaires en la qualité notamment d’Avocats et elle peut également
                recevoir des données personnelles de la part de ses partenaires dans le cadre de leurs relations
                commerciales. En effet, la Société peut recevoir le nom, le prénom, le numéro de téléphone et le besoin
                juridique d’un client d’un partenaire de la Société.</p>

            <p>La Société peut communiquer les données personnelles des Utilisateurs afin à la demande des autorités
                administratives et judiciaires.</p>

            <p>La Société peut communiquer les données personnelles des Utilisateurs à des prestataires tiers à des fins
                d’optimisation du Site. Dans ce cadre, les données personnelles des Utilisateurs seront anonymisées.</p>

            <h2>3) Modification de la politique de confidentialité</h2>

            <p>Nous nous réservons le droit de modifier cette présente politique de confidentialité à tout moment et il
                appartient à l’Utilisateur à prendre régulièrement connaissance de la politique de confidentialité afin
                de
                se tenir informés de ses dispositions.</p>

            <p>Votre utilisation du Site après toute modification signifie que vous acceptez ces modifications. Si vous
                n'acceptez pas certaines modifications apportées à la présente politique de confidentialité, veuillez
                arrêter d'utiliser le Site.</p>

            <h2> 4) Lieu d’hébergement des données personnelles.</h2>

            <p>Les données personnelles collectées par notre Site IZY CONTRAT sont hébergées en France par la société
                OVH
                dont le siège social est situé 2 rue Kellermann - 59100 Roubaix - France (https://www.ovh.com/)</p>


            <h2>5) Droits et obligations de l’utilisateur/abonné</h2>

            <p>L’utilisateur/abonné a l’obligation de se renseigner sur les modifications de la politique de
                confidentialité. <br>
                Conformément à la réglementation en matière de protection des données à caractère personnel, notamment
                les
                articles 15 à 22 du RGPD, vous avez le droit de :</p>
            <ul>
                <li>Accéder à ses données personnelles ;</li>
                <li>Les modifier ou les rectifier ;</li>
                <li>Limiter ou refuser son traitement ;</li>
                <li>Les effacer.</li>
            </ul>
            <p>Ces droits peuvent être exercés à tout moment soit sur le Site via la rubrique « Nous contacter », soit par
            courrier électronique à contact@izy-contrat.fr, soit par courrier postal à l'adresse suivante : 2 rue
                Charles Plumier, 45100 ORLEANS. Merci d’y préciser votre nom, prénom et adresse.</p>
            <p>Vous avez aussi la possibilité et ce, à tout moment, de vous désabonner de notre newsletter en cliquant sur
            le lien qui permet le désabonnement en bas de chaque email. Ou vous pouvez également vous désabonner en
                envoyant un message à l’adresse email ci-dessus.</p>

            <h2>6) Utilisation des données personnelles.</h2>


            <p>Nous pouvons recueillir et conserver vos données à caractère personnel, notamment lorsque vous naviguez sur
            le Site, vous inscrivez à notre Newsletter, créez un Compte personnel ou un profil d'Avocat, créez un
                document, payez pour un service ou nous contactez.</p>

            <p>Dans la mesure où certains Services disponibles sur le Site sont payants, vous acceptez que nous puissions
            avoir recours à des prestataires de services de paiement qui peuvent collecter vos données à caractère
            personnel dans le but de permettre le bon fonctionnement des services de traitement des paiements par carte
                de crédit et, le cas échéant, de livraison de produits.</p>

            <p>Lorsque vous payez un ou plusieurs documents ou service lors d’une commande, votre identité, votre numéro de
            téléphone, adresse email et identité bancaire (le numéro de votre carte de paiement, la date de validité,
                les codes de sécurité et le nom du titulaire de la carte) peuvent être demandées.</p>

            <h2>7) Cas dans lesquels vos données personnelles vous seront demandées </h2>

            <p>Lors de la création de votre espace personnel dans notre Site, les informations sur votre identité telle que
            le nom, prénom, l’adresse postale, l’adresse email, numéro de téléphone sont nécessaires pour remplir le
                formulaire de création.</p>
            <p>Lors de la création d'un profil Avocat personnalisé sur le Site, chaque Avocat communique son nom, prénom,
                adresse postale, adresse email et numéro de téléphone ainsi qu’une photo.</p>

            <p>Lors de la Création de Documents et l’accomplissement éventuel de Formalités, il vous sera demandé de
            compléter un questionnaire où vous seront demandés des données à caractère personnel, telles que notamment
            votre date et lieu de naissance, l’identité de votre conjoint, votre régime matrimonial, l’identité de vos
                parents, l’identité de vos associés (dans le cas d’une création d’une société commerciale).</p>

            <p>Concernant l’abonnement à notre Newsletter, vous avez la possibilité de nous donner votre consentement afin
            de recevoir nos emails d’information concernant nos produits, services, promotions. Vous avez le droit de
            retirer et ce, à tout moment, votre consentement et sans frais via la rubrique de désinscription en bas de
            chaque email ou en nous contactant par courrier postal, courrier électronique ou par téléphone. Vous pourrez
                trouver ces détails à la rubrique Mentions Légales.</p>

            <p>Lors de la prise de contact avec notre Service Client, nous utiliserons vos nom, prénom, adresse email,
            adresse postale afin de répondre à toutes demandes que vous pourriez formuler concernant votre espace
            personnel ou nos différents produits et services, ainsi que les éventuels changements de nos conditions
                générales de vente et d’utilisation.</p>

            <h2>8) Cookies</h2>

            <p>Le Site internet peut être amené à utiliser des cookies à des fins d’amélioration de nos services.
            L’Utilisateur peut s’opposer à l’enregistrement de cookies, ou être prévenu avant d’accepter les cookies, en
                configurant son navigateur internet.</p>
            <p>Vous disposez de la possibilité de bloquer, modifier la durée de conservation, ou supprimer ce cookie via
            l'interface de votre navigateur. Si la désactivation systématique des cookies sur votre navigateur vous
            empêche d'utiliser certains services ou fonctionnalités du Site, ce dysfonctionnement ne saurait en aucun
                cas constituer un dommage, vous ne pourrez prétendre à aucune indemnité de ce fait.</p>

            <h2>9) Protection de vos données à caractère personnel</h2>

            <p>Afin de garantir l’intégrité, la confidentialité ainsi que la sécurité de vos données personnelles, la
            Société a mis en place des mesures de sécurité adéquates et appropriées afin d’empêcher qu’elles soient
                accessibles à des tiers non-autorisés, qu’elles soient déformées ou endommagées.</p>

            <p></p>Toutefois, la Société ne peut garantir une sécurité absolue à vos données personnelles étant donnée
            qu’aucune mesure de sécurité n’est infaillible. En outre, il est de votre responsabilité de tout mettre en
            œuvre afin d’assurer la confidentialité de votre mot de passe qui vous permet d’accéder à votre espace
            personnel. Il ne doit en aucun cas être communiqué à des tiers afin d’éviter toute fraude et abus.</div>

            <h2>10) Durée</h2>

            <p>La durée de l’utilisation des données personnelles est déterminée conformément aux exigences contractuelles,
            réglementaires et/ou légales. La durée peut avoir un caractère variable car adaptée aux différentes
                finalités.</p>

            <p>En cas de désinscription du Site par vos soins, vos données à caractère personnel seront effacées et
                uniquement conservées sous forme d’archive aux fins d’établissement de la preuve d’un droit ou d’un contrat.</p>


        </div>
    </section>
{% endblock %}

