{% extends '_layout.html.twig' %}

{% block title %}Fiche pratique EURL{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    {{ encore_entry_link_tags('technical_sheet') }}
{% endblock %}

{% block body %}
<section class="homeTop d-flex justify-content-center">
    <img class="homePicture img-fiche" src="/images/eurl.png" alt="image principale">
    <div class="homeTxt d-flex flex-column justify-content-around align-items-center align-self-center">
        <p>CRÉER UNE ENTREPRISE INDIVIDUELLE</p>
        <a href="{{ path('create_eurl') }}" class="btn btn-secondary btnHome">Je crée mon ENTREPRISE INDIVIDUELLE !</a>
    </div>
</section>
{% endblock %}
