{% extends 'base.html.twig' %}

{% block title %}New EmailNewsletter{% endblock %}

{% block body %}
    <h1>Create new EmailNewsletter</h1>

    {{ include('email_newsletter/_form.html.twig') }}

    <a href="{{ path('email_newsletter_index') }}">back to list</a>
{% endblock %}
