{% extends 'base.html.twig' %}
{% block title %}Izy Contrat - Comparatif{% endblock %}

{% block body %}
    <section class="team page-content container-fluid">
        <h2 class="text-center">Tableau comparatif</h2>
        <p class="my-5">TEXTE EN ATTENTE</p>
        <table class="text-center table table-bordered table-hover">
            <thead class="bg-secondary">
            <tr class="sticky-thead">
                <th class="col-1" scope="col"></th>
                <th class="col-1" scope="col">SAS</th>
                <th class="col-1" scope="col">SASU</th>
                <th class="col-1" scope="col">EURL</th>
                <th class="col-1" scope="col">SARL</th>
                <th class="col-1" scope="col">Micro-entreprise</th>
                <th class="col-1" scope="col">EI</th>
                <th class="col-1" scope="col">SCI</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je démarrer ma société seul ? <br>
                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target="#detail1">+ de
                        détails
                    </button>
                </th>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
            </tr>

            <tr class="collapse" id="detail1">
                <td class="bg-secondary"></td>
                <td>>= 2 associés (personnes physiques ou morales)</td>
                <td>Associé unique (personne physique ou morale)</td>
                <td>Associé unique (personne physique ou morale)</td>
                <td>Entre 2 et 100 associés (personnes physiques ou morales)</td>
                <td>Entreprise individuelle : une seule personne (physique)</td>
                <td>Entreprise individuelle : une seule personne (physique)</td>
                <td>>= 2 personnes physiques ou morales</td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je ouvrir mon capital à de futurs associés ? <br>

                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target="#detail2">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
            </tr>
            <tr class="collapse" id="detail2">
                <td class="bg-secondary"></td>
                <td>Voir Procédure d’agrément si présente dans les statuts</td>
                <td>Voir Procédure d’agrément si présente dans les statuts Votre société deviendra une SAS</td>
                <td>Votre société deviendra une SARL</td>
                <td>Tous les associés doivent nécessairement donner leur accord pour l’entrée de tout autre associé
                    tiers.
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je limiter ma responsabilité ? <br>
                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target="#detail3">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
            </tr>
            <tr class="collapse" id="detail3">
                <td class="bg-secondary"></td>
                <td>Votre responsabilité est limitée à vos apports, excepté si vous êtes caution ou garant</td>
                <td>Votre responsabilité est limitée à vos apports, excepté si vous êtes caution ou garant</td>
                <td>Votre responsabilité est limitée à vos apports, excepté si vous êtes caution ou garant</td>
                <td>Votre responsabilité est limitée à vos apports, excepté si vous êtes caution ou garant</td>
                <td>Vous êtes totalement responsable excepté si vous faites une déclaration d’insaisissabilité</td>
                <td>Vous êtes totalement responsable excepté si vous faites une déclaration d’insaisissabilité</td>
                <td>Vous êtes totalement responsable excepté si vous faites une déclaration d’insaisissabilité</td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Suis-je libre de fixer le montant de ma rémunération
                    ? <br>
                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target="#detail4">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="align-middle">Possible</td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
            </tr>
            <tr class="collapse" id="detail4">
                <td class="bg-secondary"></td>
                <td>Oui</td>
                <td>Oui</td>
                <td>Oui</td>
                <td>Oui</td>
                <td>En fonction du bénéfice généré</td>
                <td>Oui</td>
                <td>Oui</td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je bénéficier d’une protection sociale
                    assimilé-Salarié ? <br>
                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target="#detail5">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="align-middle">Possible</td>
                <td class="align-middle">Possible</td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="align-middle">Possible</td>
            </tr>
            <tr class="collapse" id="detail5">
                <td class="bg-secondary"></td>
                <td></td>
                <td></td>
                <td>
                    <p>Gérant Tiers : OUI</p>
                    <p>Gérant Associé Unique : Travailleur Non-Salarié (TNS)</p>
                </td>
                <td>
                    <p>Gérant minoritaire/égalitaire : OUI </p>
                    <p>Gérant majoritaire : Travailleur Non-Salarié (TNS)</p>
                </td>
                <td>Soumis à la sécurité sociale des indépendants : Travailleur Non-Salarié (TNS)</td>
                <td>Soumis à la sécurité sociale des indépendants : Travailleur Non-Salarié (TNS)</td>
                <td>
                    <p>Gérant Tiers : OUI</p>
                    <p> Gérant Associé Unique : Travailleur Non-Salarié (TNS)</p>
                </td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Quelle forme juridique est la plus avantageuse pour le
                    versement des dividendes ? <br>
                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target="#detail6">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
            </tr>
            <tr class="collapse" id="detail6">
                <td class="bg-secondary"></td>
                <td>
                    <p>Associé personne physique :</p>
                    <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                    <p>Associé personne morale :</p>
                    <p>Les dividendes sont soumis à l’IS -</p>
                </td>
                <td>
                    <p>Associé personne physique :</p>
                    <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                    <p>Associé personne morale :</p>
                    <p>Les dividendes sont soumis à l’IS -</p>
                </td>
                <td>
                    <p>Associé personne physique : </p>
                    <p> Les dividendes sont soumis au barème progressif de l’IR –.</p>
                    <p>Associé personne morale :</p>
                    <p>Les dividendes sont soumis à l’IS -</p>
                </td>
                <td>
                    <p>Associé personne physique :</p>
                    <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                    <p>Associé personne morale :</p>
                    <p>Les dividendes sont soumis à l’IS -</p>
                </td>
                <td>Pas avantageux</td>
                <td>Pas avantageux</td>
                <td>Possible</td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je être soumis à l’IR ? <br>
                    <button class="btn btn-outline-primary btn-mini  m-1 mb-3" data-toggle="collapse"
                            data-target="#detail7">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
            </tr>
            <tr class="collapse" id="detail7">
                <td class="bg-secondary"></td>
                <td>Impôt sur les sociétés (IS) mais possibilité d’être soumis à l’Impôt sur le revenu (IR) pendant 5
                    ans max sous conditions
                </td>
                <td>Impôt sur les sociétés (IS) mais possibilité d’être soumis à l’Impôt sur le revenu (IR) pendant 5 ans
                    max sous conditions
                </td>
                <td>
                    <p>Possible</p>
                    <p>Si associé personne physique: IR par défaut mais possibilité IS</p>
                    <p>Si associé personne morale: IS obligatoirement</p>
                </td>
                <td>Impôt sur les sociétés (IS) mais possibilité d’être soumis à l’Impôt sur le revenu si SARL « de
                    famille » pendant 5 ans max sous conditions
                </td>
                <td>
                    <p>Le régime classique de la micro-entreprise</p>
                    <p>Ou</p>
                    <p>Le versement libératoire</p>
                </td>
                <td>Oui</td>
                <td>Oui, mais possibilité d’être à l’IS</td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je être soumis à l’IS ? <br>
                    <button class="btn btn-outline-primary btn-mini  m-1 mb-3" data-toggle="collapse"
                            data-target="#detail8">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
            </tr>
            <tr class="collapse" id="detail8">
                <td class="bg-secondary"></td>
                <td>Oui</td>
                <td>Oui</td>
                <td>
                    <p>Possible</p>
                    <p>Si associé personne physique: IR par défaut mais possibilité IS</p>
                    <p>Si associé personne morale: IS obligatoirement</p>
                </td>
                <td>Oui</td>
                <td>
                    <p>Le régime classique de la micro-entreprise</p>
                    <p>Ou</p>
                    <p>Le versement libératoire</p>
                </td>
                <td>Le régime classique de la micro-entreprise</td>
                <td>Oui, mais possibilité d’être à l’IR</td>
            </tr>
            <tr>
                <th class="bg-secondary" scope="row">Puis-je transmettre mon entreprise simplement ? <br>
                    <button class="btn btn-outline-primary btn-mini  m-1 mb-3" data-toggle="collapse"
                            data-target="#detail9">+ de
                        détails
                    </button>
                </th>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-secondary align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="text-danger align-middle"><svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg></td>
                <td class="align-middle">Possible</td>
            </tr>
            <tr class="collapse" id="detail9">
                <td class="bg-secondary"></td>
                <td>
                    <p>Cession libre des actions</p>
                    <p>excepté si clause d’agrément présente dans les statuts ou dans le pacte d’actionnaire</p>
                </td>
                <td>Cession libre des actions</td>
                <td>Cession libre des parts sociales</td>
                <td>
                    <p>Possible</p>
                    <p>Cession libre des parts sociales entre les conjoints / ascendants / descendants / héritiers /
                        associés</p>
                    <p>Pour les Tiers : procédure d’agrément si présente dans les statuts</p>
                </td>
                <td></td>
                <td></td>
                <td>
                    <p>Cession libre des parts sociales entre les conjoints / ascendants / descendants / héritiers /
                        associés </p>
                    <p>Pour les Tiers : procédure d’agrément si présente dans les statuts</p>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent () }}
    {{ encore_entry_link_tags('comparatif') }}
{% endblock %}
