{% extends 'base.html.twig' %}
{#{% block navbar %}{% endblock %}#}

{% block title %}Je cree mon entreprise{% endblock %}

{% block body %}

<style>
    .haut{
        margin-top: 75px;
    }
</style>

<div class=" haut">

<table class="table table-hover table-bordered">
  <thead>
    <tr class="table-warning">
      <th scope="col"></th>
      <th scope="col">SAS</th>
      <th scope="col">SASU</th>
      <th scope="col">EURL</th>
      <th scope="col">SARL</th>
      <th scope="col">MICRO-ENTREPRISE</th>
      <th scope="col">IE</th>
      <th scope="col">SCI</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th>Puis-je démarrer ma société seul ?</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>

  </tbody>
</table>

</div>
{% endblock %}
