{% extends '_layout.html.twig' %}
{#{% extends 'base.html.twig' %}#}

{% block title %}Je cree mon MICRO-ENTREPRISE{% endblock %}

{% block body %}
<style>

body{ 
/*background:url('https://westfieldcc.files.wordpress.com/2011/10/simple-blur-ipad-background.jpg') no-repeat center center fixed;*/
   background-size: cover;
}

</style>


<div class="espace">

   {#<h2 class="bg-light">Detail de mon SARL</h2> #}
  <div class="container">
        <div class="breadcrumb progress">
            <a  class="active">1 - Détail de votre projet</a>
            <a>2 - Choix de la prestation</a>
            <a>3 - Paiement</a>
            <a>4 - Société créée !</a>
        </div>
    </div>
    <h2>Dans quel délai souhaitez-vous créer votre MICRO-ENTREPRISE ?</h2>
    
    
{#<h1>Default</h1>#}
{#<div class='tabbed'>#}
{#  <ul>#}
{#    <li>Third tab</li>#}
{#    <li>Second tab</li>#}
{#    <li class='active'>First tab</li>#}
{#  </ul>#}
{#</div>#}
{#<h2>With round corners</h2>#}
{#<div class='tabbed round'>#}
{#  <ul>#}
{#    <li>Third tab</li>#}
{#    <li>Second tab</li>#}
{#    <li class='active'>First tab</li>#}
{#  </ul>#}
{#</div>#}
{#<br>#}
{#<br>#}
{#<br>#}
{#<h1>Skins</h1>#}
{#<h2>Flat</h2>#}
{#<div class='config-group'>#}
{#  <div class='switcher-box' style='margin-top: 7px;'>#}
{#    <a class='skin-turquoise active' skin='skin-turquoise'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-emerald' skin='skin-emerald'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-peter-river' skin='skin-peter-river'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-amethyst' skin='skin-amethyst'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='color skin-wet-asphalt' skin='skin-wet-asphalt'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-sun-flower' skin='skin-sun-flower'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-carrot' skin='skin-carrot'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-alizarin' skin='skin-alizarin'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-graphite' skin='skin-graphite'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-concrete' skin='skin-concrete'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-green-sea' skin='skin-green-sea'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-nephritis' skin='skin-nephritis'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-belize-hole' skin='skin-belize-hole'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-wisteria' skin='skin-wisteria'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-midnight-blue' skin='skin-midnight-blue'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-orange' skin='skin-orange'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-pumpkin' skin='skin-pumpkin'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-pomegranate' skin='skin-pomegranate'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-silver' skin='skin-silver'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-asbestos' skin='skin-asbestos'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-dodgerblue' skin='skin-dodgerblue'>#}
{#      <span></span>#}
{#    </a>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <h2>Multicolor</h2>#}
{#    <a class='skin-gray-black' skin='skin-gray-black'>#}
{#      <span></span>#}
{#    </a>#}
{#    <a class='skin-black-glass' skin='skin-black-glass'>#}
{#      <span></span>#}
{#    </a>#}
{#  </div>#}
{#</div>#}
{#<div class='tabbed skin-turquoise round' id='skinable'>#}
{#  <ul>#}
{#    <li>Third tab</li>#}
{#    <li>Second tab</li>#}
{#    <li class='active'>First tab</li>#}
{#  </ul>#}
{#</div>#}
{#<a class='iprodev' href='http://iprodev.com' target='_blank'>iprodev.com</a>#}

{% endblock %}
    
