{% extends '_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}

    <section class="container-fluid page-content">
        <div class="row">
            <h1 class="col offset-2">Créer un nouvel article</h1>
        </div>
        <div class="row">
            <div class="col-8 offset-2">{{ include('article/_form.html.twig') }}</div>
        </div>
        <div class="col-12 mb-2 text-center">
            <a href="{{ path('article_index') }}"><i class=" my-5 fas fa-arrow-alt-circle-left fa-5x"></i></a>
        </div>
    </section>
{% endblock %}
