
        
<div class="app font-sans min-w-screen min-h-screen bg-grey-lighter py-8 px-4">

  <div class="mail__wrapper max-w-md mx-auto">

    <div class="mail__content bg-white p-8 shadow-md">

      <div class="content__header text-center tracking-wide border-b">
        <div class="text-yellow text-sm font-bold">Izycontrat</div>
        <h1 class="text-3xl h-48 flex items-center justify-center">Confirmation E-mail </h1>
      </div>

      <div class="content__body py-8 border-b">
        <p>
          Bonjour, {{ user.getFirstName() }} <br><br>Merci d'avoir bien voulu vous enregistrer sur notre plateforme
        </p>
        <form action="{{ url ('security_confirmation',{'token': user.getUser().getConfirmationToken()}) }}" method="get" target="_blank">
        <button class="text-white text-sm tracking-wide bg-black rounded w-full my-8 p-4 ">CONFIRMER VOTRE COMPTE</button>
        </form>
        <p class="text-sm">
          Nos salutations'!<br> L'équipe Izycontrat
        </p>
      </div>

      <div class="content__footer mt-8 text-center text-grey-darker">
        <h3 class="text-base sm:text-lg mb-4">Merci de choisir IZYcontrat!</h3>
        <p>www.izy-contrat.fr</p>
      </div>

    </div>

    <div class="mail__meta text-center text-sm text-grey-darker mt-8">

      <div class="meta__social flex justify-center my-4">
        <a href="#" class="flex items-center justify-center mr-4 bg-black text-white rounded-full w-8 h-8 no-underline"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="flex items-center justify-center mr-4 bg-black text-white rounded-full w-8 h-8 no-underline"><i class="fab fa-instagram"></i></a>
        <a href="#" class="flex items-center justify-center bg-black text-white rounded-full w-8 h-8 no-underline"><i class="fab fa-twitter"></i></a>
      </div>

    </div>

  </div>

</div>