<h3>Paiement accepté</h3>

<p>Bonjour,<br><br>

Vous venez d’effectué un achat sur notre Site.

Nous avons le plaisir de vous confirmer votre souscription à l'offre .........

Vous pouvez à tout moment suivre l'avancement de votre commande en vous connectant  à votre  Espace  personnel accessible à l'adresse  suivante : http://izy-contrat.fr  à l'aide  de  votre  identifiant et  de votre mot  de passe  qui vous ont  été communiqués  précédemment par email.

Nous prendrons bientôt contact avec vous afin de finaliser votre commande. 
Afin de comprendre quelles données à caractère personnel nous collectons et ce que nous
en faisons, ainsi que les droits dont vous disposez et la manière dont vous pouvez les exercer, vous pouvez également consulter notre Politique de confidentialité des données sur note Site à la rubrique « Politique de confidentialité ».

Nous vous  remercions de la confiance  que vous nous témoignez  en ayant
choisi notre offre (Mettre l’offre à laquelle il a souscrit à savoir IZY BASIC, IZY PLUS, IZY PREMIUM)

L'équipe Izy Contrat.</p>
