<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Constitution du dossier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {background: url("/images/creampaper.png") repeat;}
    </style>
</head>
<body>
<h1>Bonjour</h1>

<p>Vous trouverez en pièce-joint votre facture.</p>

<p>Vous pouvez d'ores et déjà vous rendre sur votre espace personnel pour suivre l'état de votre statut.</p>

<p>Nous prendrons contact avec vous prochainement pour vous indiquer les pièces nécessaires à fournir pour la constitution de votre dossier.</p>

<p>L'équipe d'Izy Contrat</p>
</body>
</html>
