<h1>Bonjour {{ person.firstname }} {{ person.lastname }}</h1>

Vous trouverez en pièce-joint votre facture.

Vous pouvez d'ores et déjà vous rendre sur votre espace personnel pour suivre l'état de votre statut.

Nous prendrons contact avec vous prochainement pour vous indiquer les pièces nécessaires à fournir pour la constitution de votre dossier.

