<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Confirmation de paiement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        img {
            height: 50px;
        }
    </style>
</head>
<body>
<img src="https://www.izy-contrat.fr/images/Logo_Izy_Contrat_H.png" alt="logo Izy Contrat">
<h1>Bonjour</h1>

<p>Vous venez d’effectuer un achat sur notre Site.</p>

<p>Nous avons le plaisir de vous confirmer votre souscription à l'offre
    (Mettre l’offre à laquelle il a souscrit à savoir IZY BASIC, IZY PLUS, IZY PREMIUM)</p>

<p>Vous pouvez à tout moment suivre l'avancement de votre commande en vous connectant à
    votre Espace personnel accessible à l'adresse suivante : <a href="https://www.izy-contrat.fr/" target="_blank">www.izy-contrat.fr</a> à l'aide de
    votre identifiant et de votre mot de passe qui vous ont été communiqués précédemment
    par email.</p>

<p>Nous prendrons bientôt contact avec vous afin de finaliser votre commande.
    Afin de comprendre quelles données à caractère personnel nous collectons et ce que nous
    en faisons, ainsi que les droits dont vous disposez et la manière dont vous pouvez les
    exercer, vous pouvez également consulter notre Politique de confidentialité des données sur
    note Site à la rubrique « Politique de confidentialité ».</p>
<p>Nous vous remercions de la confiance que vous nous témoignez en ayant
    choisi notre offre (Mettre l’offre à laquelle il a souscrit à savoir IZY BASIC, IZY PLUS, IZY
    PREMIUM)</p>

<p>L'équipe d'Izy Contrat</p>


</body>
</html>

