<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Confirmation de paiement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        img { height: 50px;}
    </style>
</head>
<body>
<img src="{{ asset('images/Logo_Izy_Contrat_H.png') }}" alt="logo Izy Contrat"><h1>Bonjour</h1>

<p>Nous vous confirmons que votre paiement a bien été pris en compte.</p>

<p>A bientôt</p>

<p>L'équipe d'Izy Contrat</p>


</body>
</html>

